[core]
	excludesfile = /Users/netzwerg/.gitignore
[user]
	email = rahel.luethy@gmail.com
	name = Rahel Lüthy
[color]
	ui = auto
[alias]
	lg = log --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
