"*":
  core:
    themes: [
      "atom-light-ui"
      "base16-tomorrow-light-theme"
    ]
  editor:
    fontFamily: "menlo"
    invisibles: {}
    preferredLineLength: 100
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "94ad5eb6-866a-6e92-88cc-88209a4475b8"
  "expand-region": {}
  welcome:
    showOnStartup: false
